/* Global Styling */

html {
    scroll-behavior: smooth;
    margin: 0;
}
body {
    background-color: #8dbdff;
    background-image: url(assets/pinstriped-suit.png);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.divider {
    height: 100px;
    width: 100%;
}
.highlight {
    background-color:#8dbdff !important;
    top: 0;
    left: 0;
    opacity: 0.25;
    transition: all 0.2s;
    position: absolute;
    z-index: 100000000000;
    transform: (0, 0);
    pointer-events: none;
    border-radius: 20px;
}
a:hover{
    text-decoration: none;
}
/* Nav Styling */

#nav {
    width: 100%;
}
#nav h1{
    color:  #256f99;
    font-family: 'Playfair Display', serif;
    margin-left: 0.3em;
    text-emphasis: none;
    letter-spacing: 0.1em;
}
#nav li a {
    color: #256f99;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-right: 1em;
}
.navbar-fixed-top {
    background-color:  transparent !important;
    background-image: url(assets/background\ lines.png), url(assets/foreground\ lines\ in\ crop.png);
    background-repeat: repeat, no-repeat;
    transition: background-color 300ms ease-out !important;
}

.nav-logo {
    margin-left: 3.3em;
    width: 45px;
    height: 45px;
}   
.jumbotron {
    width: 100%;
    height: 800px;
    background-image: url(assets/Philip-2.jpg);
    background-size: cover;
    background-position: center;    
    margin-bottom: 0;
}
.scrolled {
    background-color: #F8F9FA !important;
    transition: background-color 300ms ease-in !important;
    background-image: url(assets/foreground\ lines\ in\ crop.png);
    background-repeat: no-repeat;
}

/* About Styling */

#about {
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 100px;
    padding-right: 83px;
    padding-top: 95px;
    padding-bottom: 70px;  
}
#profile-pic{
    height: 100px;
    width: 100px;
}
#about h2 {
    color:  #256f99;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
#about p {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 2em; 
}
.about-text-container{
    padding: 0 100px 0 100px;
}
.about-link{
    color:  #256f99;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800 !important;
    border-color:  #256f99;
    margin-top: 0.5em;
    width: 50%;
}
.about-link:hover{
    color: white;
    background-color:  #256f99;
    border-color: #256f99;
}
.button-wrapper{
    text-align: center;
}


/* Skill Styling */

#skills {
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 100px;
    padding-right: 83px;
    padding-top: 95px;
    padding-bottom: 40px;
}
#skills h2 {
    color:  #256f99;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.skill-container{
    text-align: center;
    padding: 10px;
}
.skill-container h3 {
    color: #256f99;
    margin-bottom: 70px;
    font-weight: 1000;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


/* Portfolio Styling */

#portfolio {
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 100px;
    padding-right: 83px;
    padding-top: 95px;
    padding-bottom: 40px;
}
#portfolio h2 {
    color:  #256f99;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.project-tile img {
    margin-bottom: 10px;
}
.card-deck{
    text-align: center;
    margin-bottom: 5em; 
}
.project-tile{
    margin: 20px;
    border: 2px solid #256f99;
    padding: 5px;
}
.project-container{
    text-align: center;
}
.card {
    border: 2px solid  #256f99;
    border-radius: 6px;
}
.card-body{
    background-color: #256f99;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
    transition: top 300ms ease-in !important;
}


/* Contact Styling */


#contact {
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 100px;
    padding-right: 83px;
    padding-top: 95px;
    padding-bottom: 40px;
}
#contact h2 {
    color:  #256f99;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    margin-bottom: 1em;
}
.form-container{
    margin: auto;
    width: 90%;
    border: 4px solid #256f99;
    text-align: center; 
}
.input-box{
    display: block;
    width: 70%;
    margin: 34px auto;
    border-radius: 10px;
    border: 2px solid #256f99;
    height: 40px;
    padding-left: 10px;
    padding-top: 2px;
}
input::placeholder{
    color: #256f99;
    font-weight: 500;
    letter-spacing: 0.1em;
}
input:focus::placeholder{
    color: transparent;
}
.message-input{
    height: 100px;
}
textarea::placeholder{
    color: #256f99;
    font-weight: 500;
    letter-spacing: 0.1em;
}
textarea:focus::placeholder{
    color: transparent;
}
#send-btn {
    color:  #256f99;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800 !important;
    border-color:  #256f99;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
}
#send-btn:hover{
    color: white;
    background-color:  #256f99;
    border-color: #256f99;
}

/* Media Queries */

@media (max-width: 400px) {

#nav h1 {
    font-size: 30px;
    margin-left: 0.1em;
}
.nav-logo{
    height: 30px;
    width: 30px;
    margin-left: 20px;
}
.about-text-container{
    padding: 0 40px 0 40px;
}
#skills {
    padding: 50px;
    width: 100%;
}
#bootstrap{
    word-wrap: break-word;
}
#about {
    padding: 30px;
    width: 100%;
}    
#portfolio {
    padding: 20px;
    width: 100%;
}
.card-deck{
    margin-right: 10px;
    
}
#contact {
    padding: 50px;
}

}